{% extends 'blog/base.html' %}

{% block title %}{{ setting.site_name }}{% endblock %}
{% block description %}{{ setting.site_description }}{% endblock %}
{% block og_title %}{{ setting.site_name }}{% endblock %}
{% block og_description %}{{ setting.site_description }}{% endblock %}
{% block ogp_type %}website{% endblock %}
{% block og_image %}{{ request.get_host }}{{ setting.ogp_image.url }}{% endblock %}
{% block tw_description %}{{ setting.site_description }}{% endblock %}
{% block tw_image %}{{ request.get_host }}{{ setting.ogp_image.url }}{% endblock %}

{% block header_tag %}
<h1><a href="/">{{ setting.site_name }}</a></h1>
<div class="profile-section">
  <img src="{{ setting.profile_icon.url }}" class="profile-icon">
  <p class="profile-intro">
    {% autoescape off %}{{ setting.profile_info }}{% endautoescape %}
  </p>
  <div class="clear"></div>
</div>
{% endblock %}

{% block content %}
  {% for post in object_list %}
    <article>
      <h2>{{ post.title }}</h2>
      <p>{{ post.description | truncatechars:105 }}</p>
      <span>{{ post.created_at|date:"Y/m/d" }}</span>
      <a href="{% url 'blog:category' post.category.slug %}" class="category_btn">{{ post.category }}</a>
      <a href="{% url 'blog:detail' post.slug %}" class="article-link"></a>
    </article>
  {% endfor %}
  {% include 'blog/includes/pagination.html' %}
{% endblock %}